<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="services_quiz"
          type="circle_service_server.py"
          name="es_service_server"
          output="screen"/>

    <node pkg="services_quiz"
          type="circle_service_client.py"
          name="es_service_client"
          output="screen"
          launch-prefix="bash -c 'sleep 2; $0 $@'"/>
</launch>
